.btn {
  display: inline-flex;
  padding: 14px 20px;
  justify-content: center;
  text-transform: uppercase;

  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
