.faq {
  background-color: rgba(248, 249, 252, 1);
}

.faq__container {
  padding: 120px 103px 121px;
  max-width: 1366px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 100px 45px 100px;
  }

  @include vp-767 {
    padding: 70px 15px 68px;
  }
}

.faq h2 {
  margin: 0;
  padding: 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 41px;
    font-size: 42px;
    text-align: center;
    letter-spacing: 1.4px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.faq__tabs-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.faq__tabs-controls {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;

  @include vp-1199 {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    justify-content: center;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 28px;
    justify-items: center;
  }
}

.faq__tabs-control {
  color: $color-dark-blue;
  padding: 16px 20px 15px;
  text-transform: capitalize;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  max-width: 260px;
  border: 1px solid rgba(16, 38, 84, 0.20);
  opacity: 1;

  &:disabled {
    opacity: 0.3;
    border: 1px solid rgba(16, 38, 84, 0.20);
  }

  &:hover {
    border: 1px solid $color-dark-blue;
  }

  &:focus {
    border: 1px solid $color-dark-blue;
    outline: none;
  }

  &:focus-visible {
    border: 1px solid $color-dark-blue;
    outline: none;
  }

  &:active {
    border: 1px solid $color-dark-blue;
    background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
    color: $color-default-white;
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @include vp-1199 {
      margin-right: 10px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  @include vp-1199 {
    padding: 16px 20px 15px;
    width: 162px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 16px;
    padding: 11px 20px 12px;
    max-width: none;
    margin: 0;
    width: 100%;
  }
}

.faq__tabs-control.is-active {
  border: none;
  background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
  color: $color-default-white;

  @media (min-width: 1200px) {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  @include vp-767 {
    padding-top: 12px;
  }
}

.faq__tabs-content {
  grid-column: 2 / 3;

  @include vp-1199 {
    grid-column: 1 / 2;
  }
}

.faq__accordion {
  margin: 0;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(28, 51, 116, 0.20);
    position: absolute;
    top: 0;
  }

  &:last-child {
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(28, 51, 116, 0.20);
      position: absolute;
      bottom: 0;
    }
  }
}

.faq__accordion-element {
  margin: 0;
  padding: 0;
  position: relative;
  padding: 38px 0 30px;

  &.is-active {
    padding: 34px 0 25px;
    opacity: 1;
  }

  @include vp-1199 {
    padding: 36px 0 29px;

    &.is-active {
      padding: 36px 0 24px;
    }
  }

  @include vp-767 {
    padding: 20px 0 20px;

    &.is-active {
      padding: 22px 0 20px;
    }
  }
}

.faq__accordion-button {
  color: $color-dark-blue;
  padding: 0;
  position: absolute;
  right: 0;
  top: 25px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: .3s;

  &:disabled {
    border: 1px solid rgba(28, 51, 116, 0.3);
  }

  &:hover {
    background-color: $color-dark-blue;
  }

  &:focus {
    outline: none;
    background-color: $color-dark-blue;
  }

  &:focus-visible {
    outline: none;
    background-color: $color-dark-blue;
  }

  &:active {
    background-color: $color-dark-blue;
  }

  @include vp-1199 {
    top: 50%;
    transform: translate(0,-50%);
  }

  @include vp-767 {
    margin-bottom: 0;
    width: 32px;
    height: 32px;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
  }
}

.faq__accordion-element.is-active .faq__accordion-button {
  transition: .3s;

  @include vp-1199 {
    top: 49px;
  }

  @include vp-767 {
    top: 55px;
    transition: none;
  }
}

.faq__accordion-button span {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(28, 51, 116, 1);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 11px;
    height: 1px;
    width: 18px;
    background-color: rgba(28, 51, 116, 1);

    @include vp-767 {
      width: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: rgba(28, 51, 116, 1);
    transform: rotate(90deg);

    @include vp-767 {
      width: 12px;
      left: 30%;
      top: 49%;
    }
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.faq__accordion-button:disabled span::before {
  opacity: 0.3;
}

.faq__accordion-button:disabled span::after {
  opacity: 0.3;
}

.faq__accordion-button:hover span::before {
  background-color: $color-default-white;
}

.faq__accordion-button:focus span::before {
  outline: none;
  background-color: $color-default-white;
}

.faq__accordion-button:hover span::after {
  background-color: $color-default-white;
}

.faq__accordion-button:focus span::after {
  outline: none;
  background-color: $color-default-white;
}

.faq__accordion-button:focus-visible span::after {
  outline: none;
  background-color: $color-default-white;
}

.faq__accordion-button:focus-visible span::before {
  outline: none;
  background-color: $color-default-white;
}

.faq__accordion-button:active span::before {
  background-color: $color-default-white;
}

.faq__accordion-button:active span::after {
  background-color: $color-default-white;
}

.faq__accordion-element.is-active span {
  background-color: #1C3374;

  &::before {
    background-color: $color-default-white;
  }
}

.faq__accordion-element.is-active span::after {
  display: none;
}

.faq__accordion-element h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  text-transform: none;
  text-align: start;
  transition: .3s;

  @include vp-1199 {
    max-width: 537px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 238px;
    margin: 0;
    line-height: 22px;
  }
}

.faq__accordion-element.is-active h3 {
  margin-bottom: 16px;
  transition: .3s;

  @include vp-1199 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.faq__accordion-wrapper {
  margin: 0;
  padding: 0;
}

.faq__accordion-wrapper p {
  margin: 0;
  padding: 0;
  max-width: 670px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  @include vp-1199 {
    max-width: 550px;
  }

  @include vp-767 {
    font-size: 16px;
    margin: 0;
  }
}
